
html{
  scroll-snap-type: y mandatory;
}
.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app__top {
  margin-bottom: -50px;
}

.app__top > h1 {
  text-align: center;
  color: white;
  height: 8vh;

}

.app__logo {
  height: 10vh;
}
.app__videos {
  position: relative; 
  height: 78vh;
  background-color: white;
  width: 70%;
  border-radius: 25px;
  max-height:1200px;
  max-width: 450px;
  overflow: scroll;
  scroll-snap-type: y mandatory;

}

.app__videos::-webkit-scrollbar{
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
