.videofooter {
    position: relative;
    margin-left: 20px;
    bottom: 100px;
}



.videofooter__text {
    position: absolute;
    bottom: 0;
    color:black;
    display: flex;
    margin-bottom: 20px;

}
.videofooter_text > h3 {
    margin-left: 10px;
    padding-bottom: 20px;
}
.videofooter__text > h3 > button {
    color: white;
    font-weight:900;
    text-transform: inherit;
} 
.videofooter__actions {
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: space-between;
    color: white;
}
.videofooter__actionsleft >.MuiSvgIcon-root {
    padding: 0 10px;
}
.videofooter__actionsright {
    dispay: flex;
}
.videofooter__stat {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.videofooter__stat > p{
    margin-left: 3px;
}
.videofooter__ticker > .ticker {
    height: fit-content;
    margin-bottom: 50%;
    width:60%;
    margin-left: 30px;
}
.videofooter__ticker h1{
    color: white;
    padding-top: 7px;
    font-size: 12px;
}

.videofooter__icon {
    position: absolute;
    left: 5px;
    color: white
}